.list{
    background-color: blue;
    color: white;
    width: 50%;
    height: 500px;
    position: fixed;
    display: block;
    margin-top: 5%;
    overflow-y: scroll;
    margin-left: 25%;
    margin-right: 25%;
}
.favorites{
    background-color: green;
    width: 80%;
    position: fixed;
    display: block;
    bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    color: white;
    overflow-x: scroll;
}